.fa-hat-cowboy-side{
font-size: 50px;
margin-left: 20px;
margin-top: 20px;
}
// .fa-magnifying-glass{
//     font-size: 20px;
//     margin-left: 1000px;
// }
*{
    margin: 0;
    padding: 0;
}
.header{
    height: 50px;
    width: 100%;
    ul {
      float: right;
      margin: 30px;
        li{
            margin-right: 30px;
        list-style: none;
        display: inline;
       
        a{
            text-decoration: none;
            color: rgb(43, 44, 44);
            
        }
    }
}
}

.footer{
    height: 50px;
    width: 100%;
    .ab{
        font-size: 70px;
        font-family: 'Great Vibes', cursive;
        margin-left: 800px;
        margin-top: 90px;
        
    }
   
    ul {    
      float: right;
    margin-right: 500px;
        li{
            margin-right: 100px;
        list-style: none;
        display: inline;
       
        a{
            text-decoration: none;
            color: rgb(43, 44, 44);
            
        }
    }
}
.ca{
    width: 400px;
    height: 200px;
    background-color: aqua;
    position: absolute;
   
}

.absolute {
    .sa{
        font-size: 30px;
        margin-left: 150px;
        margin-top: 20px;
    }
    p{
        margin-top: 10px;
        margin-left: 10px;
    }
    position: absolute;
    top: 800px;
    left: 50px;
    width: 400px;
    height: 150px;
    
    background-color: rgb(219, 212, 212);
  }

}
.second{
 
margin-top:1200px ;
margin-left:    900px ;
color: gray;


}
